body {
  font-family: sans-serif;
  background: rgb(42, 170, 17);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  position: relative;
  background: rgb(247, 146, 225);
  padding: 30px;
  width: 360px;
  border-radius: 12px;
}

/* === TLAČÍTKO === */
#sendBtn {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: rgb(235, 92, 109);
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
}

#sendBtn:hover {
  background: rgb(222,33,23);
  transform: scale(1.2) rotate(2deg);
}
/* === RESET OBRÁZEK === */
#resetImg {
  width: 40px;
  margin-top: 15px;
  cursor: pointer;
}

/* animace při najetí myší */
#resetImg:hover {
  animation: resetHover 0.8s linear;
}

@keyframes resetHover {
  0% {
    transform: translate(0, 0);
  }

  /* posun o 10px doprava + dolů */
  25% {
    transform: translate(10px, 10px);
  }

  /* třesení */
  40% {
    transform: translate(8px, 10px);
  }

  55% {
    transform: translate(12px, 10px);
  }

  70% {
    transform: translate(9px, 10px);
  }

  85% {
    transform: translate(11px, 10px);
  }

  100% {
    transform: translate(10px, 10px);
  }
}

/* === AUTÍČKO === */
#car {
  position: fixed;     /* DŮLEŽITÉ – vůči celé stránce */
  top: 0px;           /* výška = horní hrana karty */
  left: -60px;         /* start mimo obrazovku */
  font-size: 30px;
  z-index: 1000;

  transform: scaleX(-1);
}

.car-go {
  animation: drive 4s linear 3 forwards;
}
@keyframes drive {
  from {
    left: -60px;
  }
  to {
    left: 100vw;       /* úplně na pravý okraj stránky */
  }
}


/* === OZUBENÉ KOLO === */
#gear {
  position: fixed;      /* vůči celé stránce */
  top: 0;
  left: 0;
  font-size: 30px;
  z-index: 1000;
  animation: moveCorners 8s linear infinite;
}

/* pohyb po rozích stránky + rotace */
@keyframes moveCorners {
  0% {
    top: 0;
    left: 0;
    transform: rotate(0deg);
  }

  25% {
    top: 0;
    left: calc(100vw - 30px);
    transform: rotate(90deg);
  }

  50% {
    top: calc(100vh - 30px);
    left: calc(100vw - 30px);
    transform: rotate(180deg);
  }

  75% {
    top: calc(100vh - 30px);
    left: 0;
    transform: rotate(270deg);
  }

  100% {
    top: 0;
    left: 0;
    transform: rotate(360deg);
  }
}